<h1 id="pageTitle" class="totalHeader">The Outpost
    <span id="pageSub">Find your next <span id="adventure">ADVENTURE</span>
    <br>
    <ul id="hotLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/newPost">New Post</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
</h1>

