body {
    background-color: blueviolet;
    margin: 0 auto;
    max-width: 75%;
}
.container {
    text-align: center;
    border: 1px solid black;
}
#pageTitle {
    color: #796EF0;
    font-size: 100px;
    text-align: left;
    font-family: 'Ms Madi', cursive;
    padding-left: 1.5em;
    border: 1px solid black;

}
#pageSub {
    color: #A271CE;
    font-size: 25px;
    /* letter-spacing: 0.25em; */
    font-style: italic;
    padding-left: 7em;
    font-family: 'Courier New', Courier, monospace;
}

#adventure {
    text-decoration: underline;
}
#hotLinks {
    list-style: none;
    display: inline-block;
    /* margin: 0 auto; */
    text-align: center;
}
li {
    display: inline;
}
footer {
    text-align: center;
    font-size: 24px;
}
#copyright {
    font-size: 14px;
}
#title {
    font-size: 24px;
    color: #796EF0;
}